:root {
  --max-width: 1100px;
  --color-purple: #420178;
  --color-purple-med: #8746e0;
  --color-purple-light: #f5edff;
  --color-light-gray: #eaeaea;
  --spacing-lg: 40px;
  --spacing-sm: 20px;
  --border-radius-sm: 16px;
  --border-radius-lg: 24px;
}

:root body {
  font-size: 14px;
  font-weight: 500;
}

:root .rmsc {
  --rmsc-radius: 20px;
  --rmsc-border: var(--color-purple);
  color: var(--color-purple);
}

:root .rmsc .dropdown-container {
  border-width: 2px;
}

:root .rmsc .dropdown-heading-value .gray {
  color: var(--color-purple)
}

:root .rmsc .dropdown-container:focus-within {
  border-width: 2px;
  border-color: var(--color-purple);
  box-shadow: none;
}

:root .rmsc .dropdown-container .panel-content {
  border: 2px solid var(--rmsc-border);
  border-radius: var(--rmsc-radius);
}
