.container {
  max-width: 1000px;
  margin: 0 auto;
}

.records {
  margin-bottom: var(--spacing-lg);
  display: grid;
  grid-gap: var(--spacing-sm);
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.header {
  margin: var(--spacing-lg) 0;
}

@media screen and (max-width: 700px) {
  .header {
    margin: var(--spacing-sm) 0;
  }
}

@media screen and (max-width: 640px) {
  .records {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
 
}
