.form {
  float: right;
}

.input {
  width: 200px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-radius: 20px;
  height: 40px;
  background: var(--color-light-gray);
  color: var(--color-purple-med);
  font: inherit;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 500;
  transition: border 100ms ease-out;
}

.input:focus-visible {
  outline: none;
  border: solid 2px var(--color-purple);
}


@media screen and (max-width: 700px) {
  .form {
    float: none;
    width: 100%;
    margin-bottom: var(--spacing-sm);
  }

  .input {
    width: 100%;
  }
}